body{
  background:black;
  margin: 0;
  padding: 0;
  width: 100%;
  color:white;
}
img{
  width: 250px;
}

header{
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-image: url(img/スカイチューブ2.jpg);
  background-position: center;
  background-size: cover; */
}
#pic1{
  /* position: relative; */
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
#pic2{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 0%;
  width: 100%;
  object-fit: cover;
  object-position: 50% -117px;
}

a{
  color: white;
}

.picture img{
  border-radius: 5%;
}

.con1{
  width: 100%;
  margin: 2rem 0;

  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.con1.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

.center{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex2{
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
}


footer{
  text-align: center;
  background-color: white;
  color: black;
}