body {
    text-align: center;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.slot {
    width: 60%;
    height: 220px;
    overflow: hidden;
    margin: auto;
    border : solid 1px #333 ;
}
.slot-frame {
    height: 220px;
    position: relative;
    overflow: hidden;
}
.reels {
    width: 31%;
    position: absolute;
}
.reels:nth-child(1) {
    left: 0;
}
.reels:nth-child(2) {
    left: 33%;
}
.reels:nth-child(3) {
    right: 0;
}
.reel img {
    display: block;
    width: 89%;
    margin: auto;
}
